@media screen and (min-width: 600px) and (max-width: 699px) {
    /* ----------------------------------------- HEADER ---------------------------------------*/
    /* --------------------------------------------------------------------------------------- */
    header {
        background-color: darkorchid;
    }

    header section#logo{
        height: auto;
        min-height: 16vh;
    }

    header section#titulo h1 {
        font-size: 3.8em;
        line-height: 1.5em;
    }

    /*** nav ***/
    nav#mobile {
        border: 1px solid black;
        display: inline;
    }
    nav#mobile menu ul li {
        display: block;
    }

    nav#desk {
        display: none;
    }

    /* ----------------------------------------- MAIN -----------------------------------------*/
    /* --------------------------------------------------------------------------------------- */

    /*---------------------------------------DIVS DENTRO DE SECTIONS - MEUS CARDS --------------------------------------------*/


    /* ######## MAIS CONTEUDO ######## */


    /* ######## BLOG ######## */


    /* ######## PALESTRAS ######## */


    /* ######## APRENDA ######## */


    /* ######## LINKS ÚTEIS ######## */


    /* ######## SOBRE BERCELLI ######## */


    /* ######## GALERIA ######## */

    /* ######## CONTATO ######## */


    /* ----------------------------------------- FOOTER -----------------------------------------*/
    /* --------------------------------------------------------------------------------------- */


    /* ----------------------------------------- SLIDER ----------------------------------------- */
    /* --------------------------------------------------------------------------------------- */

}