
/* ------------------------------- ALL -------------------------------*/
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body, html{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	/*background-color: rgba(0, 63, 106, 1);*/
	background-color: #000000;
	/*background-color:rgba(38, 222, 129,0.85);*/
	height: 100%;
}

/* ------------------------------- HEADER / NAV -------------------------------*/
header{
	width: 100%;
	height: 100vh;
	background-color:rgba(38, 222, 129,0.85);
	margin: 0 auto;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-image: url(../image/topo3.jpg);
	display: inline-flex;
	align-items: center;
}

header h1 {
	width: 20%;
	margin: 0 auto;
	line-height: 3em;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.7);
	color: #ffffff;
	border: 3px solid #20bf6b;
	border-radius: 5px; 
	text-align: center;
	font-weight: bold;
	box-shadow: 1px 1px 6px 1px #000000;
}

nav{
	width: 100%;
	height: auto;
	background-color: rgba(0, 0, 0, 0.8);
	margin: 0 auto;
	position: fixed;
	top: 0;
	z-index: 2;
}

nav menu {
	width: 70%;
	margin: 5px auto;
	height: auto;
}

nav menu ul {
	width: 100%;
	margin: 5px auto;
	height: auto;
	display: inline-flex;
	justify-content: center;
}

nav menu li {
	width: 15%;
	height: auto;
	margin: 5px auto;
	line-height: 2em;
	border: 3px solid #20bf6b;
	border-radius: 5px; 
}

nav menu ul li a{
	text-decoration: none;
	color: #ffffff;
	display: block;
	text-align: center;
	text-transform: uppercase;
}

nav menu ul li:hover {
	transition: all;
	transition-delay: 100ms;
	transition-duration: 950ms;
	transform: scale(1.1, 1.1);
	background-color: #20bf6b;
	border: 3px solid #000000;
}

nav menu ul li a:hover {
	color: #000000;
}

/* ------------------------------- MAIN -------------------------------*/
main{
	width: 100%;
	height: auto;
	min-height: 45em;
	background-color: #000000;
}

article#saude section{
	width: 100%;
	height: 100vh;
	margin: 1em auto 2em auto;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

#um{
	background-image: url(../image/principal.jpg);
}

#dois{
	background-image: url(../image/sobre.jpg);
}
#tres{
	background-image: url(../image/galeria.jpg);
}
#quatro{
	background-image: url(../image/map.jpg);
}
#cinco{
	background-image: url(../image/concat.jpg);
}

article#saude section p{
	
	width: 50%;
	margin: 0 auto; 
	padding: 1em;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid #20bf6b;
	border-radius: 5px;
	color: #ffffff;
	position: relative;
	top: 10em;
	text-align: justify;
	font-size: 1.65em;
}

article#saude section a{
	width: 20%;
	margin: 0 auto; 
	padding: 0.5em;
	background-color: rgba(0, 0, 0, 0.5);
	border: 3px solid #20bf6b;
	border-radius: 5px;
	color: #ffffff;
	position: relative;
	top: 5em;
	text-align: center;
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase
}

article#saude section#quatro a, article#saude section#cinco a{
	width: 20%;
	margin: 0 auto; 
	padding: 0.5em;
	background-color: rgba(0, 0, 0, 0.5);
	border: 3px solid #20bf6b;
	border-radius: 5px;
	color: #ffffff;
	position: relative;
	top: 18em;
	text-align: center;
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
}

article#saude section#quatro a:hover, article#saude section#cinco a:hover, article#saude section a:hover {
	transition: all;
	transition-delay: 100ms;
	transition-duration: 950ms;
	transform: scale(1.1, 1.1);
	background-color: #20bf6b;
	color: #000000;
	border: 3px solid #000000;
	cursor: pointer;	
}

/* ------------------------------- FOOTER -------------------------------*/
footer {
	width: 100%;
	margin: 1px auto;
	height: auto;
	background-color:#000000
}

footer p {
	width: 100%;
	margin: 1em auto 0em auto;
	text-align: center;
	color: #ffffff
}

footer p i {
	margin: 1em 1em 0.5em 1em;
	text-align: center;
	color: #20bf6b;
	font-size: 2.5em;
}

footer p i:hover {
	transition: all;
	transition-delay: 200ms;
	transition-duration: 950ms;
	transform: scale(1.2, 1.2);
	padding: 3px 6px;
	border-radius: 5px; 
	background-color: #20bf6b;
	color: #000000;
	cursor: pointer;
}

/* ------------------------------- VIDEO -------------------------------*/
/*.movie{
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.movie video{
	min-height: 100%;
	min-width: 100%;
}*/

/* -------------------------- ScrollBar -------------------------- */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
	background-color: #343a40;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: #343a40;
}

::-webkit-scrollbar-thumb {
	background-color: #343a40;
	border: 2px solid #555555;
}