
/* ------------------------------- ALL -------------------------------*/
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body, html{
	font-family: tahoma;
	background-color: rgba(0, 63, 106, 1);
	/*background-color: #000000;*/
	/*background-color:rgba(38, 222, 129,0.85);*/
	height: 100%;
}

/* ------------------------------- HEADER / NAV -------------------------------*/
header{
	width: 95%;
	height: 12em;
	background-color:rgba(38, 222, 129,0.85);
	margin: 2px auto;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-image: url(../image/topo.jpg);
	height: 100vh;
	display: flex;
	align-items: center
}

header h1 {
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
}

nav{
	width: 95%;
	height: auto;
	background-color:rgba(38, 222, 129,0.85);
	margin: 2px auto;
}

nav menu {
	width: 100%;
	height: auto;
}

nav menu ul {
	width: 100%;
	margin: 2px auto;
	height: auto;
	display: inline-flex;
	justify-content: center;
}

nav menu li {
	width: 20%;
	height: auto;
	background-color: rgba(0, 63, 106, 1);
	margin: 2px;
	line-height: 3em;
	border: 3px solid #ffffff;
	border-radius: 5px;
}

nav menu ul li a{
	text-decoration: none;
	color: #ffffff;
	display: block;
	text-align: center;
}

/* ------------------------------- MAIN -------------------------------*/
main{
	width: 95%;
	padding: 5px;
	height: auto;
	min-height: 45em;
	background-color:rgba(38, 222, 129,0.85);
	margin: 2px auto;
}

article#saude{
	width: 100%;
	height: auto;
	min-height: 40em;
	/*background-color:rgba(38, 222, 129,0.85);*/
	margin: 5px auto;
}

article#saude section{
	width: 100%;
	height: 100vh;
	margin: 5px auto 0em auto;
	border:1px solid #000000;
	border: 3px solid #ffffff; 
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

#um{
	background-image: url(../image/principal.jpg);
}

#dois{
	background-image: url(../image/sobre.jpg);
}
#tres{
	background-image: url(../image/galeria.jpg);
}
#quatro{
	background-image: url(../image/map.jpg);
}
#cinco{
	background-image: url(../image/concat.jpg);
}

article#saude section p{
	position: relative;
	top: 18em;
	text-align: center;
	line-height: 3em;
	font-size: 1.5em;
	width: 20%;
	margin: 0 auto; 
	background-color: rgba(0, 63, 106, 1);
	border: 3px solid #ffffff;
	border-radius: 8px;
	color: #ffffff;
}

article#saude section p:hover{
	transition: all;
	transition-delay: 200ms;
	transition-duration: 950ms;
	transform: scale(1.2,1.2);
}


/* ------------------------------- FOOTER -------------------------------*/
footer{
	width: 95%;
	height: 4em;
	background-color:rgba(175,241,152,0.85);
	margin: 5px auto;
}

/* ------------------------------- VIDEO -------------------------------*/
/*.movie{
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.movie video{
	min-height: 100%;
	min-width: 100%;
}*/

/* -------------------------------------------------------------- FALE CONOSCO --------------------------------------------------------------*/
