@media screen and (min-width: 500px) and (max-width: 599px) {

    /*-----------------------------------------------------------------------------------------------------------------------------------*/
    /* ------------------------------------------------------------ HEADER ------------------------------------------------------------ */
    header {
        background-color: teal;
    }

    /*************************************************************************** logo ***************************************************************************/
    header div#container section#logo{
        display: none;
    }

    /*************************************************************************** título ***************************************************************************/

    header div#container section#titulo h1 {
        font-size: 6em;
        line-height: 1.5em;
    }

    /*************************************************************************** nav desktop(display:none) ****************************************************************************/
    header div#container nav#desk{
        display: none;
    }

    /*************************************************************************** nav mobile(div:button) ****************************************************************************/
    header div#container div#buttonMob {
        width: 20%;
        display: block;
    }

    /*************************************************************************** Section Sobre ***************************************************************************/
    div.intro-section {
        width: 22em;
        bottom: 20em;
        border: 1px solid #ffffff;
    }

}