@media screen and (min-width: 800px) and (max-width: 899px) {
    /* ----------------------------------------- HEADER ---------------------------------------*/
    /* --------------------------------------------------------------------------------------- */
    header {
        background-color: darkblue;
    }

    header section#logo{
        /*height: auto;
        min-height: 24vh;*/
        display: none;
    }

    header section#titulo h1 {
        font-size: 6.2em;
    }

    /*** nav ***/
    header div nav#mobile {
        display: none;
    }
    
    nav#mobile {
        position: absolute;
        top:40%;
        display: flex;
        border: 1px solid white;
    }

    nav#mobile menu ul li {
        width: 200px;
        border: 1px solid white;
        display: block;
        padding: 10px;
    }

    header div#container div#buttonMob {
        width: 10%;
        position: absolute;
        top: 30%;
        display: block;
    }

    header div#container div#buttonMob a#menuHamburguer {
        border: 3px solid #000000;
        border-radius: 5px; 
        padding: 5px 8px;
        color: #000000;
        font-size: 1.5em;
    }

    nav#desk {
        display: none;
    }

    /* ----------------------------------------- MAIN -----------------------------------------*/
    /* --------------------------------------------------------------------------------------- */

    /*---------------------------------------DIVS DENTRO DE SECTIONS - MEUS CARDS --------------------------------------------*/


    /* ######## MAIS CONTEUDO ######## */


    /* ######## BLOG ######## */


    /* ######## PALESTRAS ######## */


    /* ######## APRENDA ######## */


    /* ######## LINKS ÚTEIS ######## */


    /* ######## SOBRE BERCELLI ######## */


    /* ######## GALERIA ######## */

    /* ######## CONTATO ######## */


    /* ----------------------------------------- FOOTER -----------------------------------------*/
    /* --------------------------------------------------------------------------------------- */


    /* ----------------------------------------- SLIDER ----------------------------------------- */
    /* --------------------------------------------------------------------------------------- */

}