@media screen and (min-width: 1100px) and (max-width: 1200px) {
    /*-----------------------------------------------------------------------------------------------------------------------------------*/
    /* ------------------------------------------------------------ HEADER ------------------------------------------------------------ */
    /*header {
        background-color: blue;
    }*/

    /*************************************************************************** logo ***************************************************************************/
    header div#container section#logo{
        min-width: 210px;
    }

    /*************************************************************************** título ***************************************************************************/
    header div#container section#titulo {
        min-width: 240px;
    }

    header div#container section#titulo h1 {
        font-size: 9em;
    }

    /*************************************************************************** nav desktop ****************************************************************************/
    header div#container nav#desk menu ul li a{
        font-size: 1.5em;
        line-height: 1.8em;
        min-width: 180px;
    }

    /*-----------------------------------------------------------------------------------------------------------------------------------*/
    /* ------------------------------------------------------------ MAIN ------------------------------------------------------------ */
    /*************************************************************************** divs cards(class desktop) ***************************************************************************/
    main article section#palestras div.card {
        min-width: 340px;
    }
}