@media screen and (max-width: 499px) {
    /* ----------------------------------------- HEADER ---------------------------------------*/
    /* --------------------------------------------------------------------------------------- */
    header {
        background-color: deeppink;
    }

    header section#logo{
        height: auto;
        min-height: 9vh;
        display: none;
    }

    header section#titulo h1 {
        font-size: 4.4em;
        line-height: 1em;
    }

    /*** nav ***/
    nav#mobile {
        position: absolute;
        top:18%;
        display: flex;
        border: 1px solid white;
    }

    nav#mobile menu ul li {
        border: 1px solid white;
        display: block;
    }

    nav#desk {
        display: none;
    }

    /* ----------------------------------------- MAIN -----------------------------------------*/
    /* --------------------------------------------------------------------------------------- */

    /*---------------------------------------DIVS DENTRO DE SECTIONS - MEUS CARDS --------------------------------------------*/


    /* ######## MAIS CONTEUDO ######## */


    /* ######## BLOG ######## */


    /* ######## PALESTRAS ######## */


    /* ######## APRENDA ######## */


    /* ######## LINKS ÚTEIS ######## */


    /* ######## SOBRE BERCELLI ######## */


    /* ######## GALERIA ######## */

    /* ######## CONTATO ######## */


    /* ----------------------------------------- FOOTER -----------------------------------------*/
    /* --------------------------------------------------------------------------------------- */


    /* ----------------------------------------- SLIDER ----------------------------------------- */
    /* --------------------------------------------------------------------------------------- */

}