@media screen and (min-width: 900px) and (max-width: 999px) {
    /* ----------------------------------------- HEADER ---------------------------------------*/
    /* --------------------------------------------------------------------------------------- */
    header {
        background-color: chartreuse;
    }

    header section#titulo h1 {
        font-size: 7.9em;
        line-height: 2.25em;
    }

    header section#logo{
        height: auto;
        min-height: 28vh;
    }

    /*** nav ***/
    nav#mobile {
        display: none;
    }

    nav#desk menu li {
        min-width: 91px; 
    }

    nav#desk menu ul li a{
        font-size: 1em;
        line-height: 1.5em;
    }

    /* ----------------------------------------- MAIN -----------------------------------------*/
    /* --------------------------------------------------------------------------------------- */

    /*---------------------------------------DIVS DENTRO DE SECTIONS - MEUS CARDS --------------------------------------------*/


    /* ######## MAIS CONTEUDO ######## */


    /* ######## BLOG ######## */


    /* ######## PALESTRAS ######## */


    /* ######## APRENDA ######## */


    /* ######## LINKS ÚTEIS ######## */


    /* ######## SOBRE BERCELLI ######## */


    /* ######## GALERIA ######## */

    /* ######## CONTATO ######## */


    /* ----------------------------------------- FOOTER -----------------------------------------*/
    /* --------------------------------------------------------------------------------------- */


    /* ----------------------------------------- SLIDER ----------------------------------------- */
    /* --------------------------------------------------------------------------------------- */

}