@media screen and (min-width: 1100px) and (max-width: 1200px) {
    /* ----------------------------------------- HEADER ---------------------------------------*/
    /* --------------------------------------------------------------------------------------- */
    header {
        background-color: blue;
    }

    /*** logo *****/
    header section#logo{
        min-width: 210px; /****/
    }

    /*** título ***/

    header section#titulo {
        min-width: 240px; /***/
    }

    header section#titulo h1 {
        font-size: 9em;
    }

    /*** nav desktop***/
    nav#desk {
        margin-top: 8.2em;
    }

    nav#desk menu li {
        border: 1px solid #ffffff;
        min-width: 146px;  /***/
    }

    nav#desk menu ul li a{
        font-size: 1.4em;
        line-height: 1.65em;
    }

    /* ----------------------------------------- MAIN -----------------------------------------*/
    /* --------------------------------------------------------------------------------------- */
    


    /* ######## MAIS CONTEUDO ######## */


    /* ######## BLOG ######## */


    /* ######## PALESTRAS ######## */


    /* ######## APRENDA ######## */


    /* ######## LINKS ÚTEIS ######## */


    /* ######## SOBRE BERCELLI ######## */


    /* ######## GALERIA ######## */

    /* ######## CONTATO ######## */


    /* ----------------------------------------- FOOTER -----------------------------------------*/
    /* --------------------------------------------------------------------------------------- */


    /* ----------------------------------------- SLIDER ----------------------------------------- */
    /* --------------------------------------------------------------------------------------- */

}