@media screen and (min-width: 1000px) and (max-width: 1099px) {
    /* ----------------------------------------- HEADER ---------------------------------------*/
    /* --------------------------------------------------------------------------------------- */
    header {
        background-color: brown;
    }

    header section#titulo h1 {
        font-size: 8.6em;
        line-height: 2.5em;
    }

    header section#logo{
        height: auto;
        min-height: 32vh;
    }

    /*** nav ***/
    nav#mobile {
        display: none;
    }

    nav#desk menu li {
        min-width: 104px; 
    }

    nav#desk menu ul li a{
        font-size: 1.0em;
        line-height: 1.5em;
    }

    /* ----------------------------------------- MAIN -----------------------------------------*/
    /* --------------------------------------------------------------------------------------- */



    /* ######## MAIS CONTEUDO ######## */


    /* ######## BLOG ######## */


    /* ######## PALESTRAS ######## */


    /* ######## APRENDA ######## */


    /* ######## LINKS ÚTEIS ######## */


    /* ######## SOBRE BERCELLI ######## */


    /* ######## GALERIA ######## */

    /* ######## CONTATO ######## */


    /* ----------------------------------------- FOOTER -----------------------------------------*/
    /* --------------------------------------------------------------------------------------- */


    /* ----------------------------------------- SLIDER ----------------------------------------- */
    /* --------------------------------------------------------------------------------------- */

}