@media screen and (max-width: 499px) {

    /*-----------------------------------------------------------------------------------------------------------------------------------*/
    /* ------------------------------------------------------------ HEADER ------------------------------------------------------------ */
    header {
        background-color: deeppink;
    }

    /*************************************************************************** logo ***************************************************************************/
    header div#container section#logo{
        display: none;
    }

    /*************************************************************************** título ***************************************************************************/

    header div#container section#titulo h1 {
        font-size: 4em;
        line-height: 1.5em;
    }

    /*************************************************************************** nav desktop(display:none) ****************************************************************************/
    header div#container nav#desk{
        display: none;
    }

    /*************************************************************************** nav mobile(div:button) ****************************************************************************/
    header div#container div#buttonMob {
        width: 20%;
        display: block;
    }

    /*************************************************************************** divs cards(class desktop) ***************************************************************************/
    .card {
       display: none;
    }

    /*************************************************************************** divs cards(class mobile) ***************************************************************************/
    div.cardMobile {
        display: block;
    }

    /*************************************************************************** Section Sobre ***************************************************************************/
    div.intro-section {
        width: 10em;
        bottom: 25em;
       
    }

    div.intro-section div.h2-align-right h2{
        font-size: 14px;
    }

    div.intro-section p{
        font-size: 12px;
    }

    /* ------------------------------------------------------------ ## FOOTER ##  ------------------------------------------------------------*/
    /*---------------------------------------------------------------------------------------------------------------------------------------*/

    footer {
        height: 5em;
        padding-top: 1em;
    }
}