@media screen and (min-width: 900px) and (max-width: 999px) {
    
    /*-----------------------------------------------------------------------------------------------------------------------------------*/
    /* ------------------------------------------------------------ HEADER ------------------------------------------------------------ */
    /*header {
        background-color: chartreuse;
    }*/

    /*************************************************************************** logo ***************************************************************************/
    header div#container section#logo{
        min-width: 150px;
        height: auto;
        min-height: 28vh;
    }

    /*************************************************************************** título ***************************************************************************/

    header div#container section#titulo h1 {
        font-size: 7.9em;
    }

    /*************************************************************************** nav desktop ****************************************************************************/
    header div#container nav#desk menu ul li a{
        font-size: 1.5em;
        line-height: 1.8em;
        min-width: 140px;
    }

    /*-----------------------------------------------------------------------------------------------------------------------------------*/
    /* ------------------------------------------------------------ MAIN ------------------------------------------------------------ */
    /*************************************************************************** divs cards(class desktop) ***************************************************************************/
    main article section#palestras div.card {
        min-width: 280px;
    }

    main article section#palestras div.card span {
        font-size: 6em;
    }

    main article section#palestras div.card h2 {
        font-size: 1.8em;
    }
}