@media screen and (min-width: 800px) and (max-width: 899px) {
    /* ----------------------------------------- HEADER ---------------------------------------*/
    /* --------------------------------------------------------------------------------------- */
    header {
        background-color: darkblue;
    }

    header section#logo{
        height: auto;
        min-height: 24vh;
    }

    header section#titulo h1 {
        font-size: 6.2em;
    }

    /*** nav ***/
    nav#mobile {
        position: absolute;
        top:40%;
        display: flex;
        border: 1px solid white;
    }

    nav#mobile menu ul li {
        width: 200px;
        border: 1px solid white;
        display: block;
        padding: 10px;
    }

    nav#desk {
        display: none;
    }

    /* ----------------------------------------- MAIN -----------------------------------------*/
    /* --------------------------------------------------------------------------------------- */

    /*---------------------------------------DIVS DENTRO DE SECTIONS - MEUS CARDS --------------------------------------------*/


    /* ######## MAIS CONTEUDO ######## */


    /* ######## BLOG ######## */


    /* ######## PALESTRAS ######## */


    /* ######## APRENDA ######## */


    /* ######## LINKS ÚTEIS ######## */


    /* ######## SOBRE BERCELLI ######## */


    /* ######## GALERIA ######## */

    /* ######## CONTATO ######## */


    /* ----------------------------------------- FOOTER -----------------------------------------*/
    /* --------------------------------------------------------------------------------------- */


    /* ----------------------------------------- SLIDER ----------------------------------------- */
    /* --------------------------------------------------------------------------------------- */

}