@media screen and (min-width: 800px) and (max-width: 899px) {

    /*-----------------------------------------------------------------------------------------------------------------------------------*/
    /* ------------------------------------------------------------ HEADER ------------------------------------------------------------ */
    header {
        background-color: darkblue;
    }

    /*************************************************************************** logo ***************************************************************************/
    header div#container section#logo{
        display: none;
    }

    /*************************************************************************** título ***************************************************************************/

    header div#container section#titulo h1 {
        font-size: 8em;
    }

    /*************************************************************************** nav desktop(display:none) ****************************************************************************/
    header div#container nav#desk{
        display: none;
    }

    /*************************************************************************** nav mobile(div:button) ****************************************************************************/
    header div#container div#buttonMob {
        width: 10%;
        display: block;
    }

}