@media screen and (min-width: 700px) and (max-width: 799px) {

    /*-----------------------------------------------------------------------------------------------------------------------------------*/
    /* ------------------------------------------------------------ HEADER ------------------------------------------------------------ */
    header {
        background-color: darksalmon;
    }

    /*************************************************************************** logo ***************************************************************************/
    header div#container section#logo{
        display: none;
    }

    /*************************************************************************** título ***************************************************************************/

    header div#container section#titulo h1 {
        font-size: 8em;
    }

    /*************************************************************************** nav desktop(display:none) ****************************************************************************/
    header div#container nav#desk{
        display: none;
    }

    /*************************************************************************** nav mobile(div:button) ****************************************************************************/
    header div#container div#buttonMob {
        width: 10%;
        display: block;
    }

    /*************************************************************************** Section Sobre ***************************************************************************/
    div.intro-section {
        width: 30em;
        bottom: 28em;
        border: 1px solid #ffffff;
    }

}