@media screen and (min-width: 700px) and (max-width: 799px) {

    /*-----------------------------------------------------------------------------------------------------------------------------------*/
    /* ------------------------------------------------------------ HEADER ------------------------------------------------------------ */
    header {
        background-color: darksalmon;
    }

    /*************************************************************************** logo ***************************************************************************/
    header div#container section#logo{
        display: none;
    }

    /*************************************************************************** título ***************************************************************************/

    header div#container section#titulo h1 {
        font-size: 8em;
    }

    /*************************************************************************** nav desktop(display:none) ****************************************************************************/
    header div#container nav#desk{
        display: none;
    }

    /*************************************************************************** nav mobile(div:button) ****************************************************************************/
    header div#container div#buttonMob {
        width: 10%;
        display: block;
    }

    /*************************************************************************** Section Palestras ***************************************************************************/
    .mini-card {
        width: 12%;
        min-width: 10em;
        height: 10em;
    }

    .mini-card span {
        font-size: 1em;
        padding: 2px;
    }
    
    .mini-card h2 {
        line-height: 1.5em;
        font-size: 1em;
    }

    .mini-card p {
        font-size: 10px;
    }

    /*************************************************************************** Section Sobre ***************************************************************************/
    div.intro-section {
        width: 30em;
        bottom: 28em;
        border: 1px solid #ffffff;
    }

    /*************************************************************************** Section Contato ***************************************************************************/
    main article section#contato div#formulario {
        width: 70%;
    }
}