@media screen and (min-width: 1000px) and (max-width: 1099px) {

    /*-----------------------------------------------------------------------------------------------------------------------------------*/
    /* ------------------------------------------------------------ HEADER ------------------------------------------------------------ */
    /*header {
        background-color: brown;
    }*/

    /*************************************************************************** logo ***************************************************************************/
    header div#container section#logo{
        min-width: 180px;
        height: auto;
        min-height: 32vh;
    }

    /*************************************************************************** título ***************************************************************************/

    header div#container section#titulo h1 {
        font-size: 8.5em;
    }

    /*************************************************************************** nav desktop ****************************************************************************/
    header div#container nav#desk menu ul li a{
        font-size: 1.5em;
        line-height: 1.8em;
        min-width: 160px;
    }

    /*-----------------------------------------------------------------------------------------------------------------------------------*/
    /* ------------------------------------------------------------ MAIN ------------------------------------------------------------ */
    /*************************************************************************** divs cards(class desktop) ***************************************************************************/
    main article section#palestras div.card {
        min-width: 300px;
    }

    .mini-card {
        min-width: 8em;
        height: 16em;
        font-size: 8px;
    }
}