@media screen and (min-width: 700px) and (max-width: 799px) {

    /*-----------------------------------------------------------------------------------------------------------------------------------*/
    /* ------------------------------------------------------------ HEADER ------------------------------------------------------------ */
    /*header {
        background-color: darksalmon;
    }*/

    /*************************************************************************** logo ***************************************************************************/
    header div#container section#logo{
        display: none;
    }

    /*************************************************************************** título ***************************************************************************/

    header div#container section#titulo h1 {
        font-size: 8em;
    }

    /*************************************************************************** nav desktop(display:none) ****************************************************************************/
    header div#container nav#desk{
        display: none;
    }

    /*************************************************************************** nav mobile(div:button) ****************************************************************************/
    header div#container div#buttonMob {
        width: 10%;
        display: block;
    }

    /*************************************************************************** Section Palestras ***************************************************************************/
    .mini-card {
        min-width: 8em;
        height: 5em;
    }
    
    .mini-card span {
        font-size: 1em;
        padding: 2px;
    }
    
    .mini-card h2 {
        font-size: 12px;
    }
    
    .mini-card p {
        font-size: 10px;
    }

    /*************************************************************************** Section Sobre ***************************************************************************/
    div.topright {
        width: 50%;
    }

    div.intro-section {
        width: 95%;
        padding-top: 12px;
    }

    .h2-align-right h2 {
        font-size: 1.5em;  
    }
    
    
    div.intro-section p {
        font-size: 14px;
    }
    
    
    div.intro-section div.foto  {
        width: 140px;
        height: 140px;
    }

    /*************************************************************************** Section Contato ***************************************************************************/
    main article section#contato div#formulario {
        width: 70%;
    }
}