@media screen and (max-width: 399px) {

    /*-----------------------------------------------------------------------------------------------------------------------------------*/
    /* ------------------------------------------------------------ HEADER ------------------------------------------------------------ */
    /*header {
        background-color: deeppink;
    }*/

    /*************************************************************************** logo ***************************************************************************/
    header div#container section#logo{
        display: none;
    }

    /*************************************************************************** título ***************************************************************************/

    header div#container section#titulo h1 {
        font-size: 3em;
        line-height: 1.5em;
    }

    /*************************************************************************** nav desktop(display:none) ****************************************************************************/
    header div#container nav#desk{
        display: none;
    }

    /*************************************************************************** nav mobile(div:button) ****************************************************************************/
    header div#container div#buttonMob {
        width: 20%;
        display: block;
    }

    /*************************************************************************** divs cards(class desktop) ***************************************************************************/
    .card {
       display: none;
    }

    /*************************************************************************** divs cards(class mobile) ***************************************************************************/
    div.cardMobile {
        display: block;
    }

    /*************************************************************************** Section Palestras ***************************************************************************/
    .mini-card {
        width: 12%;
        min-width: 5em;
        height: 5em;
    }

    .mini-card span {
       display: none;
    }
    
    .mini-card h2 {
        font-size: 8px;
        color: #000000;
    }

    .mini-card p {
        font-size: 6px;
    }

    /*************************************************************************** Section Sobre ***************************************************************************/
    div.topright {
        width: 100%;
    }

    /*************************************************************************** Section Contato ***************************************************************************/
    main article section#contato div#formulario {
        width: 80%;
    }
    
    .input-format {
        width: 80%;
    }

    main article section#contato div#formulario p {
        font-size: 1.5em;
        line-height: 2em;
    }

    main article section#contato div#formulario label {
        font-size: 1em;
    }

    main article section#contato div#formulario button {
        width: 50%;
        height: 2em;
        
        font-size: 12px;
        text-align: center;
        padding: 0px;
    }

    /* ------------------------------------------------------------ ## FOOTER ##  ------------------------------------------------------------*/
    /*---------------------------------------------------------------------------------------------------------------------------------------*/

    footer {
        height: 5em;
        padding-top: 1em;
    }
}