@media screen and (min-width: 600px) and (max-width: 699px) {

    /*-----------------------------------------------------------------------------------------------------------------------------------*/
    /* ------------------------------------------------------------ HEADER ------------------------------------------------------------ */
    /*header {
        background-color: darkorchid;
    }*/

    /*************************************************************************** logo ***************************************************************************/
    header div#container section#logo{
        display: none;
    }

    /*************************************************************************** título ***************************************************************************/

    header div#container section#titulo h1 {
        font-size: 7.5em;
    }

    /*************************************************************************** nav desktop(display:none) ****************************************************************************/
    header div#container nav#desk{
        display: none;
    }

    /*************************************************************************** nav mobile(div:button) ****************************************************************************/
    header div#container div#buttonMob {
        width: 10%;
        display: block;
    }

    /*************************************************************************** Section Palestras ***************************************************************************/
    .mini-card {
        min-width: 7em;
        height: 6em;
    }
    
    .mini-card span {
        font-size: 15px;
        padding: 2px;
    }
    
    .mini-card h2 {
        font-size: 12px;
    }
    
    .mini-card p {
        font-size: 10px;
    }

    /*************************************************************************** Section Sobre ***************************************************************************/
    div.topright {
        width: 100%;
    }


    /*************************************************************************** Section Contato ***************************************************************************/
    main article section#contato div#formulario {
        width: 80%;
    }
}