@media screen and (min-width: 1100px) and (max-width: 1200px) {
    /*-----------------------------------------------------------------------------------------------------------------------------------*/
    /* ------------------------------------------------------------ HEADER ------------------------------------------------------------ */
    /*header {
        background-color: blue;
    }*/

    /*************************************************************************** logo ***************************************************************************/
    header div#container section#logo{
        min-width: 210px;
    }

    /*************************************************************************** título ***************************************************************************/
    header div#container section#titulo {
        min-width: 240px;
    }

    header div#container section#titulo h1 {
        font-size: 9em;
    }

    /*************************************************************************** nav desktop ****************************************************************************/
    header div#container nav#desk menu ul li a{
        font-size: 1.5em;
        line-height: 1.8em;
        min-width: 180px;
    }

    /*-----------------------------------------------------------------------------------------------------------------------------------*/
    /* ------------------------------------------------------------ MAIN ------------------------------------------------------------ */
    /*************************************************************************** divs cards(class desktop) ***************************************************************************/
    main article section#palestras div.card {
        min-width: 340px;
    }


    .mini-card {
        min-width: 9em;
        height: 8em;
    }
    
    .mini-card span {
        font-size: 1.5em;
        /*padding: 5px;*/
    }
    
    .mini-card h2 {
        font-size: 14px;
    }
    
    .mini-card p {
        font-size: 12px;
    }

    /*************************************************************************** Section Sobre ***************************************************************************/
    
    .h2-align-right h2 {
        font-size: 1.5em;  
    }
    
    
    div.intro-section p {
        font-size: 14px;
    }
    
    
    div.intro-section div.foto  {
        width: 170px;
        height: 170px;
    }
}