@media screen and (min-width: 800px) and (max-width: 899px) {

    /*-----------------------------------------------------------------------------------------------------------------------------------*/
    /* ------------------------------------------------------------ HEADER ------------------------------------------------------------ */
    /*header {
        background-color: darkblue;
    }*/

    /*************************************************************************** logo ***************************************************************************/
    header div#container section#logo{
        display: none;
    }

    /*************************************************************************** título ***************************************************************************/

    header div#container section#titulo h1 {
        font-size: 8em;
    }

    /*************************************************************************** nav desktop(display:none) ****************************************************************************/
    header div#container nav#desk{
        display: none;
    }

    /*************************************************************************** nav mobile(div:button) ****************************************************************************/
    header div#container div#buttonMob {
        width: 10%;
        display: block;
    }

    /*************************************************************************** Section Sobre ***************************************************************************/
    div.topright {
        width: 50%;
    }

    .mini-card {
        min-width: 8em;
        height: 6em;
    }
    
    .mini-card span {
        font-size: 1.2em;
        /*padding: 5px;*/
    }
    
    .mini-card h2 {
        font-size: 12px;
    }
    
    .mini-card p {
        font-size: 10px;
    }

    /*************************************************************************** Section Sobre ***************************************************************************/
    
    div.intro-section {
        width: 95%;
        padding-top: 14px;
    }

    .h2-align-right h2 {
        font-size: 1.5em;  
    }
    
    
    div.intro-section p {
        font-size: 14px;
    }
    
    
    div.intro-section div.foto  {
        width: 140px;
        height: 140px;
    }
}