/* ------------------------- ALL ------------------------- */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: tahoma;
    background-color:rgba(0, 0, 0, 0.9);
    /*background-image: url(../image/bgPricinpal.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;*/
}

.movie, .movie video {
    width: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/*.movie video {
    width: 100%;
    min-width: 100%;
}*/

/* ------------------------- HEADER ------------------------- */
header {
    width: 90%;
    height: 12em;
    margin: 2px auto;
    background-color: rgba(10, 100, 150, 0.85);
}

nav {
    width: 90%;
    height: 5em;
    margin: 2px auto;
    background-color: rgba(10, 100, 150, 0.85);
}

/* ------------------------- MAIN ------------------------- */
main {
    width: 90%;
    height: auto;
    min-height: 50em;
    margin: 2px auto;
    padding: 5px;
    background-color: rgba(10, 100, 150, 0.85);
}

article#oceano {
    width: 98%;
    height: auto;
    min-height: 50em;
    margin: 2px auto;
    padding: 5px;
    /*background-color: rgba(10, 100, 150);*/
}

article#oceano section {
    width: 95%;
    height: 20em;
    margin: 0.5em auto 2em auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    opacity: 0.9;
    /*display: flex;
    align-items: center;*/
}

#peixe_1 {
    background-image: url(../image/bg1.jpg);
}

#peixe_2 {
    background-image: url(../image/bg2.jpg);
}

#peixe_3 {
    background-image: url(../image/bg3.jpg);
}

#peixe_4 {
    background-image: url(../image/bg5.jpg);
}

#peixe_5 {
    background-image: url(../image/bg6.jpg);
}

article section p {
    position: relative;
    top: 3em;
    width: 20%;
    margin: 1px auto;
    background-color: rgba(10, 100, 150, 0.9);
    font-size: 2.5em;
    text-align: center;
    line-height: 2em;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
}

article section p:hover {

    width: 22%;
    border: 5px solid #ffffff;
    transition: all;
    transition-delay: 200ms;
    transition-duration: 800ms;
    width: 25%;
    cursor: pointer;
}

/* ------------------------- FOOTER ------------------------- */
footer {
    width: 90%;
    height: auto;
    min-height: 12em;
    margin: 0 auto;
    background-color: rgba(10, 100, 150, 0.85);
}