@media screen and (min-width: 800px) and (max-width: 999px) {

    /* ------------------------------------------ HEADER ------------------------------------------*/
    /* --------------------------------------------------------------------------------------------*/
    header{
        background-color: blue;
    }

    /*** nav ***/
    nav menu ul li{
        min-width: 150px;
    }
    
    nav menu ul li a {
        font-size: 1.6em;
        line-height: 2.6em;
    }

    /* ------------------------------------------ MAIN ------------------------------------------*/
    /* --------------------------------------------------------------------------------------------*/
    main article section div {
        width: 60%;
        height: 20em;
        margin-top: 5px;
    }
    
    main article section div img {
        width: 100%;
        height: 20em;
    }

    /* ------------------------------------------ FOOTER ------------------------------------------*/
    /* --------------------------------------------------------------------------------------------*/
}
