/* ------------------------------------------ ALL ------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
   
}

body {
    background-color: #000000;
}

/* ------------------------------------------ HEADER ------------------------------------------*/
/* --------------------------------------------------------------------------------------------*/
header {
    width: 100%;
    height: auto;
    height: 15vh;
    background-color: #7f8c8d;
}


/*** nav ***/
nav {
    width: 100%;
    height: auto;
    height: 10vh;
    border-top: 1px solid #000000; 
    background-color: #7f8c8d;
}

nav menu {
    width: 100%;
    height: auto;
}

nav menu ul {
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: space-around;
}

nav menu ul li{
    width: 15%;
    min-width: 20px;
    margin-top: 10px;
    border: 1px solid #000000;
}

nav menu ul li a {
    text-align: center;
    text-transform: uppercase;
    color: #000000; 
    display: block;
    font-size: 2em;
    line-height: 2.2em;
}


/* ------------------------------------------ MAIN ------------------------------------------*/
/* --------------------------------------------------------------------------------------------*/
main {
    width: 100%;
    min-height: 75vh;
}

main article {
    width: 70%;
    min-height: 75vh;
    background-color: #bdc3c7;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    float: left;
}

main aside {
    width: 30%;
    min-height: 75vh;
    background-color: #95a5a6;
    float: left;
}

main article section {
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main article section div {
    width: 20%;
    height: 20em;
    margin-top: 5px;
}

main article section div img {
    width: 100%;
    height: 20em;
}


/* ------------------------------------------ FOOTER ------------------------------------------*/
/* --------------------------------------------------------------------------------------------*/

