@charset "utf-8";
/* CSS Document */

.caixafoto{
	float: left;
	height: 300px;
	width: 300px;
	background-color: #E19A14;
	border-radius: 50%;
	margin: 20px;
}

.foto{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}