/* ---------------------------------------------- ALL ---------------------------------------------- */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #f8a5c2;
}

/* ---------------------------------------------- NAV ----------------------------------------------*/
nav {
    width: auto;
    height: auto;
    padding: 1px;
    margin: 1px;
    background-color: #f78fb3;
    position: sticky;
    top: 1px;
}

nav menu ul {
    width: 100%;
    height: auto;
    display: inline-flex;
}

nav menu ul li {
    width: 100%;
    margin: 1px ;
    border-radius: 1em;
    height: 5em;
    line-height: 5em;
    background-color: #c44569;
    text-align: center;
    color: #303952;
}

nav menu ul li:hover {
    transition: all;
    transition-delay: 100ms;
    transition-duration: 800ms;
    opacity: 0.8;
    transform: scale(0.95, 0.95);
}
main{
    min-height: 110em;
}