* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body, html {
    background-color: #1e272e;
    color: #ffffff;
    height: 100%
}

main {
    width: 20%;
    height: 60vh;
    margin: 15vh auto 0 auto;
    background-color: #808e9b;
}

main section#visor {
    width: 98%;
    height: 5em;
    margin: 4px auto;
    background-color: #d2dae2;
}

main section#teclado {
    width: 98%;
    height: 25em;
    margin: 4em auto;
    background-color: #d2dae2;
}

.buttons {
    
}